.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  color: #0074D9;
  background-color: #ddd;
  margin-bottom: 100px;
}

.header-common{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 3;
}

.header-sign{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: .5;
}