.chat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 500px;
  max-height: 90vh;
  overflow: auto;
}
.msg__right{
  align-self: flex-end;
}
.msg__left{
  align-self: start;
}
.msg {
  margin: 5px;
  flex-shrink: 0;
}